<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
        </layout>
    </appender>


    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="File" value="s3sh.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{1}:%L %m %n"/>
        </layout>
    </appender>


    <logger name="com.s3shell">
        <level value="debug"/>
        <appender-ref ref="fileAppender"/>
    </logger>


    <!--sets the priority log level for org.springframework -->
    <!--
    <logger name="org.springframework">
        <level value="fatal"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    -->
    <logger name="liquibase">
        <level value="error"/>
    </logger>


    <!--sets the default priority log level -->
    <root>
        <priority value ="fatal" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </root>

</log4j:configuration>